.item_link{
    color:black;
    text-decoration: none;


}
.items{
    
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}
.inbox{
    max-width: 500px;
}
.loadContent{
   
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}